{% extends "base.html" %}

{% block page_title %}{{user.nickname}}의 스튜디오{% endblock page_title %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-3">
            <ul class="nav flex-column">
                <a class="nav-link text-dark" href="{% url 'studios:studio'%}"><h4>{{user.nickname}}의 스튜디오</h4></a>                
                <li class="nav-item">
                  <a class="nav-link text-dark" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-dark" href="{% url 'studios:posts'%}">게시판</a>
                </li>
            </ul>
        </div>
        <div class="col-9">
            <h3>게시글 목록</h3>
            <div>
              <table class="table table-hover mt-3">
                  <thead>
                    <tr>
                      <th scope="col" style="width: 20%;">작성자</th>
                      <th scope="col" style="width: 45%;">제목</th>
                      <th scope="col" style="width: 25%;">작성일자</th>
                      <th scope="col" style="width: 5%;"></th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for post in object_list %}
                    <tr>
                      <td>{{post.writer.nickname}}</td>
                      <td>{{post.title}}</td>
                      <td>{{post.created}}</td>
                      <td><a href="{% url 'studios:post_detail' post.id %}">보기</a></td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
                <div class="d-flex justify-content-end">
                  <a class="btn btn-outline-dark", href="{% url 'studios:post_new' %}">새 글 쓰기</a>
                </div>
                <nav class="d-flex justify-content-center" aria-label="Page navigation example">
                  <ul class="pagination">
                    {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{page_obj.previous_page_number}}">이전</a></li>
                    {% endif %}
                    {% for p in page_obj.paginator.page_range %}
                    <li class="page-item"><a class="page-link" href="?page={{p}}">{{p}}</a></li>
                    {% endfor %}
                      {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{page_obj.next_page_number}}">다음</a></li>
                    {% endif %}
                  </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

{% endblock %}