{% extends "base.html" %}

{% block page_title %}{{user.nickname}}의 스튜디오{% endblock page_title %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-3">
            <ul class="nav flex-column">
                <a class="nav-link text-dark" href="{% url 'studios:studio'%}"><h4>{{user.nickname}}의 스튜디오</h4></a>                
                <li class="nav-item">
                  <a class="nav-link text-dark" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-dark" href="{% url 'studios:posts'%}">게시판</a>
                </li>
            </ul>
        </div>
        <div class="col-8">
            <h3>{{post.title}}</h3>
            <div class="d-flex justify-content-between">
                <p>작성자: {{post.writer.nickname}}</p>
                <div>
                    <span style="margin-bottom: 0;">작성일자: {{post.created}}</span>
                    <a href="{% url 'studios:post_edit' post.id %}">수정</a>
                    <a href="{% url 'studios:post_delete' post.id %}">삭제</a>
                </div>
            </div>
            <hr>
            <p>{{post.body}}</p>
        </div>
    </div>
</div>
{% endblock %}